.profile__avatar {
  grid-area: avatar;
  margin-right: 30px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}


@media screen and (min-width: 320px) and (max-width: 630px) {
  .profile__avatar {
    margin: 0 calc((100% - 120px)/2) 26px;
  }
}
