.profile__info {
  grid-area: info;
  margin-right: 18px;
  padding-top: 12px;
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 320px) and (max-width: 630px){
  .profile__info {
    display: block;
    margin: 0 calc((100% - 190px)/2);
    padding: 0;
    max-width: 190px;
  }
}
